@charset "utf-8";

@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 800;
    src: url(../font/NotoSans-Black.woff) format('woff'),
       url(../font/NotoSans-Black.otf) format('truetype');
   }
   @font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 700;
    src: url(../font/NotoSans-Bold.woff) format('woff'),
       url(../font/NotoSans-Bold.otf) format('truetype');
   }
   @font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 500;
    src: url(../font/NotoSans-Medium.woff) format('woff'),
       url(../font/NotoSans-Medium.otf) format('truetype');
   }
   @font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 400;
    src: url(../font/NotoSans-Regular.woff) format('woff'),
       url(../font/NotoSans-Regular.otf) format('truetype');
   }
   @font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 300;
    src: url(../font/NotoSans-DemiLight.woff) format('woff'),
       url(../font/NotoSans-DemiLight.otf) format('truetype');
   }
   @font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 200;
    src: url(../font/NotoSans-Light.woff) format('woff'),
       url(../font/NotoSans-Light.otf) format('truetype');
   }
   @font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 100;
    src: url(../font/NotoSans-Thin.woff) format('woff'),
       url(../font/NotoSans-Thin.otf) format('truetype');
   }
