@charset "UTF-8";

/******************************************************************************
 *** font *********************************************************************
 ******************************************************************************/
@font-face {font-family:'YiSunSinDotom';font-weight:700;src:url("../font/YiSunSinDotomB.woff") format('woff'), url("../font/YiSunSinDotomB.ttf") format('truetype');}
@font-face {font-family:'YiSunSinDotom';font-weight:400;src:url("../font/YiSunSinDotomM.woff") format('woff'), url("../font/YiSunSinDotomM.ttf") format('truetype');}
@font-face {font-family:'YiSunSinDotom';font-weight:300;src:url("../font/YiSunSinDotomL.woff") format('woff'), url("../font/YiSunSinDotomL.ttf") format('truetype');}


/******************************************************************************
 *** initialize ***************************************************************
 ******************************************************************************/
* {margin:0;padding:0;line-height:1.4em;-webkit-overflow-scrolling: touch;box-sizing:border-box;-webkit-hyphens: auto;hyphens: auto;letter-spacing:-0.05em;vertical-align:middle;font-family: inherit;color: inherit;font-weight:inherit;}
html, body {height:100%;font-size:12px;font-family:'YiSunSinDotom', 'sans-serif';}

@media screen and (min-width:1024px){.wHide{display:none !important;}}
@media screen and (max-width:1023px){.mHide{display:none !important;}}


/******************************************************************************
 *** background image *********************************************************
 ******************************************************************************/
.main-section {height:100vh;}
.main-section .scroll {position:absolute;right:0;bottom:70px;z-index:1500;width:100%;text-align:right}
.main-section .scroll img {-webkit-animation-name:sectionScroll;animation-name:sectionScroll;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.main-section .main-visual {position:fixed;top:0;width:100%;z-index:-1}
.main-section .main-visual .slide-item {background-repeat:no-repeat;background-attachment:fixed;background-size:cover;background-position:center;height:100vh;-webkit-transition:all 8s ease;transition:all 8s ease;-webkit-transform:scale(1.2);transform:scale(1.2);}
.main-section .main-visual .slide-item  img { display: none;}
.main-section .main-visual .slick-active .slide-item {-webkit-transform:scale(1);transform:scale(1)}
.main-section .main-visual .slide-d1,
.main-section .main-visual .slide-d2 {background-image:url("../images/0_parking_large.jpg");}
@media screen and (max-width:1024px) {
    .main-section .main-visual .slide-d1,
    .main-section .main-visual .slide-d2 {background-image:url("../images/0_parking_medium.jpg");}
}
@media screen and (max-width:768px) {
    .main-section {padding:30px 0;}
    .main-section .main-visual .slide-d1,
    .main-section .main-visual .slide-d2 {background-image:url("../images/0_parking_small.jpg");}
}
.main-section .main-visual .slide-e1,
.main-section .main-visual .slide-e2 {background-image:url("../images/0_parking_beach.jpg");background-size:cover;}


/******************************************************************************
 *** notice message ***********************************************************
 ******************************************************************************/
.parking-text {position:absolute;top:50%;left:50%; color:#fff;font-weight:700;text-align:center; white-space:nowrap;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
.parking-text .text-main {font-size:80px;line-height:1em;}
.parking-text .text-main br {line-height:1em;}
.parking-text .text {font-size:20px;margin-top:80px;}

@media screen and (max-width:768px) {
    .parking-text .text-main {font-size:38px;}
    .parking-text .text {font-size:16px;margin-top:50px;white-space: normal;}
}


/******************************************************************************
 *** photo & notice message ***************************************************
 ******************************************************************************/
.article {width:1000px;display:flex;flex-wrap:wrap;}
.article .img {width:50%;height:450px;background-size:cover;background-position:50% 50%;}
.article .info-wrap {width:50%;height:450px;background:#f1f1f1;padding:50px; color:#182153;}
.article .info-wrap .subject b {font-size:30px;font-weight:300;}
.article .info-wrap .subject p {font-size:16px;}
.article .info-wrap .info {font-size:16px;margin-top:30px;}
.article .info-wrap .info dt {font-weight:700;}
.article .info-wrap .info dt ~ dt {margin-top:20px;}
.article .url {width:100%;height:73px;display:flex;justify-content:center;align-items:center;background:#000;color:#fff;font-size:18px;text-decoration: none;}
@media screen and (min-width:769px) {
    .article {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
    .article .img,
    .article .info-wrap,
    .article .url {position:relative;opacity: 0;transition: opacity 1.5s ease, left 1.5s ease, right 1.5s ease, top 1.5s ease;-webkit-transition: opacity 1.5s ease, left 1.5s ease, right 1.5s ease, top 1.5s ease;}
    .article .img {left: -80px;}
    .article .info-wrap {right:-80px;}
    .article .url {top:30px;}
    .article.on .img {opacity: 1;left: 0;}
    .article.on .info-wrap {opacity: 1;right:0;}
    .article.on .url {opacity: 1;top:0;}
}
@media screen and (max-width:768px) {
    .article {min-width:300px;width:80%;max-width:400px;flex-direction: column;margin:0 auto;}
    .article:after {content:'';display:block;height:30px;}
    .article .img {height:300px;width:100%;}
    .article .info-wrap {height:auto;width:100%;padding:35px;}
    .article .info-wrap .subject b {font-size:24px;}
    .article .info-wrap .subject p {font-size:16px;}
    .article .info-wrap .info {font-size:16px;margin-top:21px;}
    .article .info-wrap .info dt ~ dt {margin-top:14px;}
    .article .url {height:51px;font-size:16px;}
}