<!doctype html>
<html lang="ko">
<head>
    <title>Account</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=no">
    {% load static %}

    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body>
<div class="wrap">
    <div class="account-member">
        <div class="form-member">
            <h2>로그인</h2>

            {% if messages %}
            {% for message in messages %}

            
            {% endfor %}
            {% endif %}

            <form action="#" method="POST">
            {% csrf_token %}
                <div class="field">
                    <div class="input">
                        <input type="text">
                    </div>
                </div>
                <div class="field">
                    <div class="input">
                        <input type="password">
                    </div>
                </div>
                <div class="login-action">
                    <label id="saveIdLabel" class="checkbox save">
                        <input type="checkbox">
                    </label>

                    <p class="forgot"><a href="acc_pw_reset.html" tabindex="0" class="text btnReset">비밀번호 재설정</a></p>
                </div>

                <button type="button" class="button btnSubmit">로그인</button>
            </form>

            <div class="separator">
                <span>또는</span>
            </div>
            <div class="bottom-message">
                <p>계정이 없나요? <a href="{% url 'user-register' %}" class="btnJoin">회원가입</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>