<!doctype html>
<html lang="ko">
<head>
    <title>Account</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=no">

    <script src="../static/js/jquery-3.6.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/css/account.css">
</head>
<body>
<div class="wrap">
    <div class="account-member">
        <div class="form-member">
            <h2>비밀번호 재설정</h2>

            <p class="">이메일로 전송된 정보를 통해 비밀번호 재설정 링크를 진행해주세요.</p>

            <button type="button" onclick="location.href='index.html'" class="button btnSubmit">첫 화면으로 이동</button>
            <button type="button" onclick="location.href='acc_pw_reset_email.html'" class="button btnSubmit">이메일 전송 내용 보기</button>
        </div>
    </div>
</div>
</body>
</html>