<!doctype html>
<html lang="ko">
<head>
    <title>Account</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=no">
    {% load static %}

    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body>
<script>
    function showLyPop(popName){
        var $lypop = $('#'+popName+'Lypop');

        $popupScrollTop = $(window).scrollTop();
        $('.black-bg-wrap').show();
        if ($lypop.hasClass('ui-flex-box')) {
            if ($(document.documentElement).hasClass('msie')) {
                $lypop.css('display', 'block');
            } else {
                $lypop.css('display', 'flex');
            }
        } else {
            $lypop.show().focus();
        }
        $lypop.focus();
        window.lyPopOpened = true;
    }

    
function ruleShow(){
    $(document).on('click', '.js-rule-show', function(){
        let $term = $(this).next('.term-box');
        if(!$term.hasClass('on')){
            $(this).find('span').eq(0).hide();
            $(this).find('span').eq(1).show();
            $term.addClass('on');
        }else{
            $term.removeClass('on');
            $(this).find('span').eq(1).hide();
            $(this).find('span').eq(0).show();
        }
    });
}

$(function(){
    ruleShow();
})
</script>

<div class="wrap">
    <div class="account-member">
        <div class="form-member">
            <h2 class="text display2">회원가입</h2>

            <p class="">가입을 위한 최소한의 정보를 받고있습니다.</p>

            <form>
                <div class="terms-check-all">
                    <label class="checkbox">
                        <input type="checkbox" value="Y">

                        <span class="text"><b>전체동의</b><br><span class="text">이룸 서비스 이용약관(필수), 개인정보 수집 및 이용(필수)</span></span>
                    </label>

                    <button type="button" title="약관확인" onclick="showLyPop('agreeTerms');$('#agreeTermsLypop').focus();"></button>
                </div>
                <div class="field">
                    <div class="input action">
                        <input type="text" class="input-text" placeholder="이메일 아이디" >

                        <a href="javascript:void(0);" class="certification disabled">중복확인</a>
                    </div>
                </div>
                <div class="field">
                    <div class="input">
                        <input type="password" class="input-text" placeholder="비밀번호" >
                    </div>
                </div>

                <em class="helper">영문, 숫자, 특수문자 (!@$%^*?&amp;()+-=) 조합한 8자 이상</em>
                <em id="user-pw2Error" class="error-text">비밀번호가 일치하지 않습니다.</em>

                <div class="field">
                    <div class="input">
                        <input type="password" class="input-text" placeholder="비밀번호" >
                    </div>
                </div>
                <div class="field">
                    <div class="input">
                        <input type="text" class="input-text" placeholder="닉네임" >
                    </div>
                </div>
                <div class="field">
                    <div class="input action">
                        <input type="text"class="input-text" >
                    </div>
                </div>

                <button type="button" class="button btnSubmit disabled" onclick="location.href='acc_signup_welcome_email.html'">가입 완료</button>

                <div class="field confirm proc notice-alert-message" style="display:none;">
                    <em class="error-text">회원가입이 완료되었습니다. <br>이메일 인증 후 서비스 이용이 가능합니다.</em>
                </div>
            </form>

            <div class="black-bg-wrap" style="display:none;"></div>
            <div id="agreeTermsLypop" class="lypop-fixed" style="display:none;">
                <div class="iwb-modal">
                    <div class="modal-main modal-terms-agree">
                        <p class="text headline">약관확인</p>
                        <p class="desc">약관에 동의하셔야 이용가능하며, 14세 미만 가입은 불가합니다.</p>

                        <form class="dd-form">
                            <label class="checkbox">
                                <input type="checkbox" value="Y" class="input-agree-term">
                                <span class="text title">전체동의</span>
                            </label>

                            <ul>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value="Y" class="input-agree-term">
                                        <span>이용약관(필수)</span>
                                    </label>

                                    <input type="checkbox" class="toggle">

                                    <label class="toggle js-rule-show" for="terms-toggle1">
                                        <span>내용 보기</span>
                                        <span>내용 닫기</span>
                                    </label>

                                    <div class="term-box">
                                        <div class="article">
                                            <article>
                                                <div class="wrap_terms wrap_policy">
<h4 id="useterms01" class="tit_policy">제 1장 총칙</h4>
<h4 id="useterms02" class="tit_policy">제 1조 (목적)</h4>
<p class="desc_g">본 이용약관은 전기통신사업법령 및 정보통신망 이용촉진 및 정보보호 등에 관한 법률에 따라 (주)이룸과 {site_nm} 웹사이트에 제공되는 약관의 다음 각 호에 해당하는 서비스의 제공 및 이용조건, 이용절차 및 제반 필요사항을 규정함을 목적으로 합니다. 이하 (주)이룸과 {site_nm}은(는) "회사"라 통칭하며 개별 웹사이트 운영 제공의 주체가 됩니다.</p>
<h4 id="useterms02" class="tit_policy">제 2조 약관의 명시와 개정</h4>
<p class="desc_g">(1) 본 웹사이트는 이룸 플랫폼 연계형 웹빌더를 이용하여 구축한 웹사이트이며, 회원 가입된 사용자는 "회사" db에 귀속되며 이하 "회원"이라 통칭합니다.</p>
<p class="desc_g">(2) "회사"는 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 이메일) 등을 "회원"이 알 수 있도록 웹사이트 초기화면 또는 연결화면을 통하여 게시합니다.</p>
<p class="desc_g">(3) "회사"는 약관의 규제에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망 이용촉진 등에 관한법률, 방문판매 등에 관한 법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</p>
<p class="desc_g">(4) "회사"는 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 웹사이트 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.</p>
<p class="desc_g">(5) "회원"은 개정된 약관에 대해 거부할 권리가 있습니다. "회원"은 개정된 약관에 동의하지 않을 경우 회원등록을 해지 할 수 있으며, 공시된 약관의 변경에도 불구하고 2회 이상 접속 시 개정된 약관에 동의한 것으로 간주합니다.</p>
<h4 id="useterms02" class="tit_policy">제 3조 약관 외 준칙</h4>
<p class="desc_g">(1) 본 약관은 "회사"가 제공하는 서비스에 관하여 별도의 약관, 정책 및 운영규칙과 함께 적용됩니다.</p>
<p class="desc_g">(2) 본 약관에 명시되지 않은 사항과 해석에 대해서는 전기통신사업법 등 관계 법령 또는 상관례에 따릅니다.</p>
<p class="desc_g">(3) "회사"의 유료 서비스에 대해서는 개별 유료 콘텐츠 서비스 이용약관 등 기타 "회사"에서 정하는 정책에 의거해 권리 및 의무를 보장 또는 제한받을 수 있습니다.</p>
<h4 id="useterms02" class="tit_policy">제 4조 용어의 정의</h4>
<p class="desc_g">(1) 이룸 플랫폼 : "회사" 웹사이트를 이용하는 고객사들을 위한 동네상권 마케팅 플랫폼</p>
<p class="desc_g">(2) 웹서비스 : 동네상권 플랫폼 활성화 및 {site_nm} 웹사이트의 트래픽 증대를 위한 비즈니스 모델로 적용된 기능의 집합으로 이하 "서비스"로 통칭합니다. </p>
<p class="desc_g">(3) 회원 : "회사" 웹사이트를 통해 개인정보를 제공하여 회원가입을 한 자로서, "회사"의 "서비스" 이용계약을 체결하고 회원 아이디(id)를 부여받은 자</p>
<p class="desc_g">(4) 회원 아이디(이하 "id") : "회원"의 식별과 "회원"의 "서비스" 이용을 위하여 "회원"이 선정하고 회사가 승인하는 문자 또는 숫자의 조합</p>
<p class="desc_g">(4) 비밀번호 : "회원"의 정보보호와 회원만의 이용을 위한 문자, 숫자, 특수문자로 이루어진 조합</p>
<p class="desc_g">(5) 등록해지 : "회원"이 이용계약을 해지하는 것</p>
<p class="desc_g">(6) 유료 서비스 : "회사"가 유료로 제공하는 각종 콘텐츠</p>
<p class="desc_g">(7) 이웃맺기 : "회원"이 이룸 플랫폼 연계형 웹빌더를 이용하여 구축된 타 웹사이트 "서비스"를 동일하게 이용하고자 타 사이트를 방문 후 별도의 회원가입 없이 로그인 후 제공되는 "서비스"를 이용하기 위하여 정보제공에 동의하는 것</p>
<h4 id="useterms01" class="tit_policy">제 2장 서비스 이용계약 및 의무</h4>
<h4 id="useterms02" class="tit_policy">제 5조 회원가입</h4>
<p class="desc_g">(1) 회원가입을 위해서는 필요 시 실명 확인과정을 거치며, 실명 체크 시스템을 통하여 "회원"의 실명확인을 하고 있습니다.</p>
<p class="desc_g">(2) 회원으로 가입하여 "서비스"를 이용하기 희망하는 자는 회원가입 시 본 약관을 읽고 "약관 동의" 체크박스에 표시를 한 후 동의 버튼을 누르고, 회사가 요청하는 소정의 등록신청 양식에 요구된 항목을 기재하여 가입신청을 합니다.</p>
<p class="desc_g">(3) 가입신청 양식에 기재하는 모든 회원 정보는 실제 데이터인 것으로 간주하며 실제 정보를 입력하지 않은 "회원"은 법적인 보호를 받을 수 없으며, "서비스" 이용의 제한을 받을 수 있습니다.</p>
<p class="desc_g">(4) "회원"은 반드시 본인의 실명을 기재하여야 합니다. 타인의 명의를 도용하는 등 부정한 목적과 방법으로 이용신청을 한 "회원"의 모든 id는 삭제되며, 관계 법령에 따라 처벌을 받을 수 있습니다.</p>
<h4 id="useterms02" class="tit_policy">제 6조 "회사"의 회원가입의 승낙</h4>
<p class="desc_g">(1) "회사"는 제 5조의 규정에 의한 가입신청 회원에 대하여 업무 수행상 또는 기술상 지장이 없는 경우에 원칙적으로 접수순서에 따라 "서비스" 이용을 승낙합니다.</p>
<p class="desc_g">(2) "회사"는 아래 사항에 해당하는 경우에 대해서 승낙하지 아니합니다.</p>
<ul class="list_2depth_type2">
<p>- 실명이 아니거나 타인의 명의를 이용하여 신청한 경우</p>
<p>- 이용계약 신청서의 내용을 허위로 기재한 경우</p>
<p>- 사회의 안녕과 질서, 미풍양속을 저해할 목적으로 신청한 경우</p>
<p>- 부정한 용도로 본 "서비스"를 이용하고자 하는 경우</p>
<p>- 기타 규정한 제반 사항을 위반하며 신청하는 경우</p>
</ul>
<p class="desc_g">(3) "회사"는 "서비스" 이용신청이 다음 각 호에 해당하는 경우에는 그 신청에 대하여 승낙 제한 사유가 해소될 때까지 승낙을 유보할 수 있습니다.</p>
<ul class="list_2depth_type2">
<p>- 회사가 설비의 여유가 없는 경우</p>
<p>- 회사의 기술상 지장이 있는 경우</p>
<p>- 기타 회사의 귀책 사유로 가입승낙이 곤란한 경우</p>
</ul>
<p class="desc_g">(4) "회사"는 가입신청 고객이 관계 법령에서 규정하는 미성년자일 경우에 "서비스"별 안내에서 정하는 바에 따라 부모님과 함께 가입 할 것을 공지하고 있습니다.</p>
<h4 id="useterms02" class="tit_policy">제 7조 개인정보의 보호 및 사용</h4>
<p class="desc_g">(1) "회사"는 관계 법령이 정하는 바에 따라 회원 등록정보를 포함한 "회원"의 개인정보를 보호하기 위해 노력합니다. 회원 개인정보의 보호 및 사용에 대해서는 관련 법령 및 회사의 개인정보취급방침이 적용됩니다.</p>
<p class="desc_g">(2) "회사"는 다음과 같은 경우에 법에서 허용하는 범위 내에서 "회원"의 성명, 이메일주소 등 "회원"의 개인정보를 제3자에게 제공할 수 있습니다.</p>
<ul class="list_2depth_type2">
<p>① "회원"이 "서비스"를 이용함에 있어 관련 법률을 위반하여 수사기관이나 기타 정부 기관으로부터 정보제공을 요청받는 경우</p>
<p>② "회원"의 법률위반, 본 "서비스" 약관위반을 포함하여 부정행위 확인 등의 정보보호 업무를 위해 필요한 경우</p>
<p>③ 기타 법률에 의해 요구되는 경우</p>
</ul>
<p class="desc_g">(3) "회사"는 "서비스" 웹사이트 외 링크된 사이트에는 회사의 개인정보취급방침이 적용되지 않습니다. 또한 "회사"는 "회원"의 귀책 사유로 인해 노출된 정보에 대해서 일체의 책임을 지지 않습니다.</p>
<p class="desc_g">(4) "회사"의 개인정보 책임자는 "회원"의 사전 동의 없이 유출하지 못하며, 고객사의 관리자가 "회원"의 사전 동의없이 유출하였을 경우 이에 대한 책임은 전적으로 고객사의 개인정보 관리책임자에게 있으며 "회사"는 이에 손해배상을 청구할 수 있습니다.</p>
<h4 id="useterms02" class="tit_policy">제 8조 "회원" id 부여 및 변경 등</h4>
<p class="desc_g">(1) "회사"는 회원에 대하여 본 약관에 정하는 바에 따라 "회원" id를 부여합니다.</p>
<p class="desc_g">(2) "회원" id는 원칙적으로 변경이 불가하며 부득이한 사유로 인하여 변경하고자 하는 경우에는 해당 id를 해지하고 재가입해야 합니다.</p>
<p class="desc_g">(3) "회원" id는 다음 각 호에 해당하는 경우에는 "회사"의 요청으로 변경할 수 있습니다.</p>
<ul class="list_2depth_type2">
<p>① "회원" id가 "회원"의 전화번호 또는 주민등록번호 등으로 되어 사생활침해가 우려되는 경우</p>
<p>② 타인에게 혐오감을 주거나 미풍양속에 어긋나는 경우</p>
<p>③ 기타 합리적인 사유가 있는 경우</p>
</ul>
<p class="desc_g">(4) "회원" id 및 비밀번호의 관리책임은 "회원"에게 있습니다. "회원"의 관리 소홀로 발생하는 "서비스" 이용상의 손해나 제3자의 부정 이용 등에 대한 책임은 전적으로 "회원"에게 있으며 "회사"는 그에 대한 책임을 일절 지지 않습니다.</p>
<p class="desc_g">(5) "회원"은 "서비스" 페이지 내 정보 또는 기타 해당 페이지로 링크된 메뉴를 통하여 자신의 개인정보 관리 페이지를 열람할 수 있으며, 해당 페이지에서 언제든지
                                            </p></div></article>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value="Y" class="input-agree-term">
                                        <span>개인정보 수집ㆍ이용 동의(필수)</span>
                                    </label>
                                    <input type="checkbox" class="toggle">
                                    <label class="toggle js-rule-show">
                                        <span>내용 보기</span>
                                        <span>내용 닫기</span>
                                    </label>
                                    <div class="term-box">
                                        <div class="article">
                                            <article>
                                                <div class="wrap_terms wrap_privacy">
<p class="desc_g">정보통신망법 규정에 따라 "회사"에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간을 안내 드리오니 자세히 읽은 후 동의하여 주시기 바랍니다. </p>
<h4 id="tab2" class="tit_policy desc_tit">1. 수집하는 개인정보 이용자는 회원가입을 하지 않아도 정보 검색, 게시물 보기 등 대부분의 "회사" 서비스를 회원과 동일하게 이용할 수 있습니다. 이용자가 개인화 혹은 회원제 서비스를 이용하기 위해 회원가입을 할 경우, "회사"는 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다. 회원가입 시점에 "회사"가 이용자로부터 수집하는 개인정보는 아래와 같습니다. </h4>
<p class="desc_g">(1) 회원가입 시에 ‘아이디(이메일), 비밀번호, 이름, 성별, 생년월일, 휴대폰 번호, 주소’를 항목으로 수집합니다. 만약 이용자가 입력하는 생년월일이 만 14세 미만 아동일 경우에는 회원가입을 받지 않고 있습니다.</p>
<p class="desc_g">(2) "회사" 내의 개별 서비스 이용, 이벤트 응모 및 경품 신청 과정에서 해당 서비스의 이용자에 한해 추가 개인정보 수집이 발생할 수 있습니다. 추가로 개인정보를 수집할 경우에는 해당 개인정보 수집 시점에서 이용자에게 ‘수집하는 개인정보 항목, 개인정보의 수집 및 이용목적, 개인정보의 보관기간’에 대해 안내 드리고 동의를 받습니다. </p>
<p class="desc_g">(3) 서비스 이용 과정에서 ip 주소, 쿠키, 방문일시,·불량 이용 기록 등의 서비스 이용 기록, 기기정보가 생성되어 수집될 수 있습니다. 구체적으로 서비스 이용 과정에서 이용자에 관한 정보를 정보통신서비스 제공자가 자동화된 방법으로 생성하여 이를 저장(수집)하거나, 이용자 기기의 고유한 정보를 원래의 값을 확인하지 못하도록 안전하게 변환한 후에 수집하는 경우를 의미합니다.</p>
<h4 id="tab4" class="tit_policy desc_tit">2. 수집한 개인정보의 이용 "회사"는 회원관리, 서비스 개발 제공 및 향상, 안전한 인터넷 이용환경 구축 등 아래의 목적으로만 개인정보를 이용합니다. </h4>
<p class="desc_g">(1) 회원가입 의사의 확인, 연령 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리를 위하여 개인정보를 이용합니다.</p>
<p class="desc_g">(2) 콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등을 위하여 개인정보를 이용합니다. </p>
<p class="desc_g">(3) 법령 및 "회사" 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영을 위하여 개인정보를 이용합니다. </p>
<p class="desc_g">(4) 유료 서비스 제공에 따르는 본인인증, 구매 및 요금 결제, 상품 및 서비스의 배송을 위하여 개인정보를 이용합니다. </p>
<p class="desc_g">(5) 이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적으로 개인정보를 이용합니다. </p>
<p class="desc_g">(6) 서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재 등에 개인정보를 이용합니다. </p>
<p class="desc_g">(7) 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다. </p>
<h4 id="tab5" class="tit_policy desc_tit">3. 개인정보의 파기</h4>
<p class="desc_g">"회사"는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기하고 있습니다. 단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다. 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우는 아래와 같습니다. </p>
<p class="desc_g">(1) 부정가입 및 징계기록 등의 부정이용기록은 부정 가입 및 이용 방지를 위하여 수집 시점으로부터 6개월간 보관하고 파기하고 있습니다. 부정이용기록 내 개인정보는 가입인증 휴대폰 번호가 있습니다. </p>
<p class="desc_g">(2) 결제도용, 불법할인대출(일명 '카드깡') 등 관련 법령 및 이용약관을 위반하는 부정거래기록(아이디, 이름, 휴대폰 번호, 주소, ip, 쿠키, 기기 정보)은 부정거래 방지 및 다른 선량한 이용자의 보호, 안전한 거래 환경 보장을 위하여 수집 시점으로부터 3년간 보관하고 파기합니다. 전자상거래 등에서의 소비자 보호에 관한 법률, 전자금융거래법, 통신비밀보호법 등 법령에서 일정기간 정보의 보관을 규정하는 경우는 아래와 같으며, "회사"는 이 기간 동안 법령의 규정에 따라 개인정보를 보관하며, 본 정보를 다른 목적으로는 절대 이용하지 않습니다.</p>
<p class="desc_g">(3) 전자상거래 등에서 소비자 보호에 관한 법률 </p>
<ul class="list_2depth_type2">
<p>- 계약 또는 청약철회 등에 관한 기록: 5년 보관</p>
<p>- 대금결제 및 재화 등의 공급에 관한 기록: 5년 보관</p>
<p>- 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관</p>
</ul>
<p class="desc_g">(4) 전자금융거래법 </p>
<p class="desc_g" "desc_g"=""> 전자금융에 관한 기록: 5년 보관 </p>
<p class="desc_g">(5) 통신비밀보호법 </p>
<p class="desc_g" "desc_g"=""> 로그인 기록: 3개월</p>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <button type="button" class="button btnSubmit disabled">확인</button>
                        </form>

                        <button type="button" class="close "><i class="xi-close"></i></button>
                    </div>
                </div>
            </div>

            <script>
                /* 레이어 팝업 열기 */
                function showLyPop(popName){
                    var $lypop = $('#'+popName+'Lypop');

                    $popupScrollTop = $(window).scrollTop();
                    $('.black-bg-wrap').show();
                    if ($lypop.hasClass('ui-flex-box')) {
                        if ($(document.documentElement).hasClass('msie')) {
                            $lypop.css('display', 'block');
                        } else {
                            $lypop.css('dCisplay', 'flex');
                        }
                    } else {
                        $lypop.show().focus();
                    }
                    window.lyPopOpened = true;
                }

                /* 레이어 팝업 닫기 */
                function closeLyPop(popName){
                    $('.black-bg-wrap').hide();
                    $('#'+popName+'Lypop').css({ overflowY: '' }).hide();
                    $('body').css({ position: '', width: '', height: '', minHeight: '', top: '', paddingRight: '', boxSizing: '' });
                    $('html').removeClass('lypop').css('overflow-y','');
                    setTimeout(function() {
                        $(window).scrollTop($popupScrollTop);
                    }, 0);
                    window.lyPopOpened = false;
                }

                /* 약관 */
                $(function () {
                    // 약관확인 이벤트 처리
                    var $agreeContainer = $('.modal-terms-agree');
                    var $btnClose = $('#btn-agree-terms-close', $agreeContainer);

                    $agreeContainer.each(function() {
                        var $checkbox               = $('input[type="checkbox"]:not(.toggle)', this);
                        var $agreeTermField         = $('.agree-term-field');
                        var $inputAgreeAll          = $checkbox.filter('#agreeAllCheckBox');
                        var $inputAgree             = $checkbox.filter('#agreeCheck');
                        var $inputAgreePrivacy      = $checkbox.filter('#agreePrivacyCheck');
                        var $inputAgreeGroup        = $checkbox.filter('#agreeCheck, #allowDirectMail');
                        var $inputAllowDirectMail   = $checkbox.filter('#allowDirectMail');
                        var $inputsAllow            = $('.sub-field input', $agreeTermField);
                        var $inputAllowEmail        = $checkbox.filter('#allowEmail');
                        var $inputAllowSMS          = $checkbox.filter('#allowSMS');
                        var $buttonAgree            = $('#btnAgree', $agreeContainer);

                        function setClosingEvent() {
                            var event = new CustomEvent("closing", {
                                detail : {
                                    isAgreeTermAll  : $inputAgreeAll.prop('checked'),
                                    isAgreeTerm     : $inputAgree.prop('checked'),
                                    isAllowDM       : $inputAllowDirectMail.prop('checked') ? 1 : 0,
                                    isAllowEmail    : $inputAllowEmail.prop('checked') ? 1 : 0,
                                    isAllowSMS      : $inputAllowSMS.prop('checked') ? 1 : 0
                                }
                            });
                            $agreeContainer[0].dispatchEvent(event);
                        }

                        // 체크박스
                        $checkbox.on('change', function(event) {
                            var target = event.target;
                            var id = target.id;
                            var checked = target.checked;

                            if (id === 'agreeAllCheckBox') {
                                // 전체동의
                                $checkbox.prop('checked', checked);
                            }

                            // 확인 버튼
                            $buttonAgree.prop('disabled', !$inputAgree.is(':checked') || !$inputAgreePrivacy.is(':checked'));
                        });

                        // 닫기
                        $btnClose.on('click', function(){
                            $checkbox.prop('checked', false);
                            $('#agreeAllCheckPage')
                            .prop('checked', false)
                            .removeClass('partial-selected');
                            closeLyPop('agreeTerms');
                            setClosingEvent();
                        });

                        // 확인
                        $buttonAgree.on('click', function() {
                            $('#agreeAllCheckPage').prop('checked', $inputAgree.is(':checked'));
                            if ($inputAgreeAll.prop('checked')) {
                                $('#agreeAllCheckPage').removeClass('partial-selected');
                            } else if ($inputAgree.prop('checked')) {
                                $('#agreeAllCheckPage').addClass('partial-selected');
                            }

                            closeLyPop('agreeTerms');
                            setClosingEvent();
                        });

                        jQuery(function($){
                            "use strict";
                            var $body = $('body');

                            // input
                            $body
                            .on('click','label.radio_label>input',function(){
                                var t = $(this);
                                $('input[type=radio][name='+t.attr('name')+']').parent('label').removeClass('on');
                                t.parent('label').addClass('on');
                            })
                            .on('click','label.agree_label>input',function(){
                                var t = $(this);
                                t.parent('label').toggleClass('on');
                            });
                        });
                    });
                })
            </script>
        </div>
    </div>
</div>
</body>
</html>