<!doctype html>
<html lang="ko">
<head>
    <title>Account</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=no">

    <script src="../static/js/jquery-3.6.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/css/account.css">
</head>
<body>
<div class="wrap">
    <div class="account-member">
        <div class="form-member">
            <h2>비밀번호 재설정</h2>

            <p>비밀번호를 재설정하려면 이메일 주소를 입력하세요.</p>

            <form>
                <div class="field">
                    <div class="input">
                        <input type="text" name="email" style="ime-mode:inactive;" maxlength="100" class="input-text">
                    </div>
                </div>

                <button type="button" id="btnSubmit" class="button btnSubmit" onclick="location.href='acc_pw_reset_guide.html' ">비밀번호 재설정</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>