<!doctype html>
<html lang="ko">
<head>
    <title>Account</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
<table width="660" border="0" cellpadding="0" cellspacing="0" style="margin:20px 0 20px 20px;">
    <tbody>
        <tr>
            <td style="padding-bottom: 10px;border-bottom: 2px solid #555;">이룸 플랫폼</td>
        </tr>
        <tr>
            <td style="font-size:22px;padding:20px 0;font-family:Arial,sans-serif;color:rgb(0,0,0);line-height:33px;font-weight:bold;">회원가입을 환영합니다. 홍길동님,<br>이메일 주소를 인증해 주세요.</td>
        </tr>
        <tr>
            <td style="padding:10px 0;border-top:1px solid #ccc;font-family:Arial,sans-serif;color:rgb(0,0,0);font-size:14px;line-height:30px;">
                <p style="margin:10px 0 20px;">안녕하세요.<br>회원가입 완료를 위한 이메일 인증을 진행해 주세요.<br>감사합니다.</p>

                <table align="left" cellpadding="0" cellspacing="0" border="0" style="width:100%;font-family:돋움,dotum,applegothic,sans-serif;border-top:2px solid #cfd0d7;border-bottom:1px solid #ecedf2;">
                    <tbody>
                        <tr>
                            <th align="left" width="160" height="35" style="padding:0 10px;background:#f8f9fa;font-size:13px;color:#62676c;text-align:left;letter-spacing:-1px;">아이디</th>
                            <td align="left" width="500" height="35" style="padding:0 10px;font-size:12px;color:#fa2828;font-weight:bold;">qkrgksruf48@naver.com</td>
                        </tr>
                        <tr>
                            <th align="left" width="160" height="35" style="padding:0 10px;border-top:1px solid #ecedf2;background:#f8f9fa;font-size:13px;color:#62676c;text-align:left;letter-spacing:-1px;">회원가입 일자</th>
                            <td align="left" width="500" height="35" style="padding:0 10px;border-top:1px solid #ecedf2;font-size:12px;font-weight:bold;color:#000;">2022년 11월 09일</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding:20px 0 40px;">
                <a href="index.html"  onclick="alert('이메일 인증이 완료되었습니다.')" style="display:inline-block;width:150px;height:50px;text-align:center;background:#fff000;font-size:15px;color:#000;padding:0 15px;font-weight:bold;text-decoration:none;line-height:50px;">이메일 인증</a>
            </td>
        </tr>
        <tr>
            <td style="padding:16px 25px 20px 25px;border-top:2px solid #cfd0d7;background:#f8f9fa;">
                <table style="width:630px;margin:0 auto;border:0;border-spacing:0;border-collapse:collapse;font-family:돋움,dotum,applegothic,sans-serif;">
                    <tbody>
                        <tr>
                            <td style="padding:0;font-size:11px;font-family:돋움,dotum,applegothic,sans-serif;color:#62676c;line-height:16px;letter-spacing:-0.4px;">
                                <p style="margin:0;padding:0;">
                                    이룸(주), 사업자등록번호 : 123-45-67890, 통신판매업신고 : 0000-서울금천-12345<br>
                                    우) 08595 서울시 금천구 범안대로 1142, 4층(가산동, 하우스디 더 스카이밸리 가산2차)<br>
                                    개인정보책임자 : 홍길동, 호스팅 서비스사업자 : 이룸 주식회사
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:20px 0 0 0;">
                                <p style="margin:0;padding:0;font-size:11px;font-family:돋움,dotum,applegothic,sans-serif;color:#a7acb6;line-height:16px;letter-spacing:-0.4px;">ⓒ 2025 IRUM Inc, All RIGHTS RESERVED.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>