<!DOCTYPE html>
<html>
<head>
    <title>이룸 웹빌더 - 관리자</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">

    <script type="text/javascript" language="javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/jquery-ui_admin.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/ui_admin.js"></script>

    <link type="text/css" rel="stylesheet" href="../static/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../static/css/admin.css">
</head>
<body>

<div class="wrap">
    <header class="header active">
        <h1 class="logo"><a href="adm_main.html"><img src="../static/images/adm_logo.jpg"></a></h1>

        <div class="user-menu">
            <button class="btn-big">이룸 주식회사</button>
            <button class="btn"><a href="index.html">웹사이트</a></button>
            <button class="btn"><a href="index.html">로그아웃</a></button>
        </div>

        <nav class="gnb-menu">
            <ul class="gnb">
                <li><a href="adm_member_list.html">사용자관리</a>
                    <ul>
                        <li><a href="adm_member_list.html">일반회원</a></li>
                    </ul>
                </li>
                <li><a href="adm_html_list.html">콘텐츠관리</a>
                    <ul>
                        <li><a href="adm_html_list.html">일반(HTML)</a></li>
                    </ul>
                </li>
                <li><a href="adm_service_info.html">서비스관리</a>
                    <ul>
                        <li><a href="adm_service_info.html">서비스정보</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <ul class="etc-menu">
            <li><a href="https://analytics.google.com/" target="_blank">구글 애널리틱스</a></li>
            <li><a href="#none">원격접속</a></li>
        </ul>
    </header>

    <section class="container">
        <div class="tit-wrap">
            <h2 class="tit-type"><b>메인</b> <span class="tag-txt">접속정보</span></h2>
        </div>
        <div class="contents">
            <div class="banner-box">공지내용 호출</div>
            <div class="board-top">
                <form name="frmSearch" method="get" class="innerSearch">
                    <div class="left">
                        <p class="total">
                            <strong>2023年</strong>&nbsp;
                        </p>
                    </div>
                    <div class="right">
                        <select name="search_year" id="search_year" onChange="jsSearch(this.options[this.selectedIndex].value, '');">
                            <option value="">년 선택</option>
                            <option value="2023"  selected>2023년</option>
                            <option value="2022" >2022년</option>
                        </select>
                        <select name="search_month" id="search_month" onChange="jsSearch('2023', this.options[this.selectedIndex].value);">
                            <option value="">월 선택</option>
                            <option value="01" >1월</option>
                            <option value="02" >2월</option>
                            <option value="03" >3월</option>
                            <option value="04" >4월</option>
                            <option value="05" >5월</option>
                            <option value="06" >6월</option>
                            <option value="07" >7월</option>
                            <option value="08" >8월</option>
                            <option value="09" >9월</option>
                            <option value="10" >10월</option>
                            <option value="11" >11월</option>
                            <option value="12" >12월</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="chart-area chart-2">
                <div class="chart-wrap">
                    <div id="highchart1" class="chart" style="height:400px;"></div>
                </div>
                <div class="chart-wrap">
                    <div id="highchart2" class="chart" style="height:400px;"></div>
                </div>
            </div>
            <div class="chart-area chart-1">
                <div class="chart-wrap">
                    <div id="highchart3" class="chart" style="height:300px;"></div>
                </div>
            </div>

            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/drilldown.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/series-label.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script>
                /* Chart 1 : Column Chart */
                Highcharts.chart('highchart1', {
                    chart: {
                        type: 'column',
                        spacing:[30, 20, 40, 20]
                    },
                    title: {
                        text: '2023/ 카테고리 방문비율'
                    },
                    subtitle: {
                        text: '마우스 오버로 컬럼별 정보를 확인하실 수 있습니다'
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        angle: 0,
                        min: 5,
                        max: 100,
                        title: {
                        text: '비율(%)',
                            x: 0, // Horizontal pixel
                        y: 0 // Vertical pixel
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}%'
                        }
                        }
                    },
                    credits:{
                        enabled:true,
                        href: 'https://admin.deddang.net/', // 'https://www.highcharts.com?credits'
                        position: '{"align": "right", "verticalAlign": "bottom", "x":-10, "y": -5}',
                        style: '{"cursor": "pointer", "color": "#999999", "fontSize": "10px"}',
                        text: 'https://admin.deddang.net/'
                    },
                    tooltip: {
                        headerFormat : '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat : '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },
                    series: [
                        {
                            name: "카테고리명",
                            colorByPoint: true,
                            data: [{ name: "기업/단체", y: 75.00, drilldown: "기업/단체"},{ name: "음악", y: 25.00, drilldown: "음악"}]
                        }
                    ]
                });

                /* chart 2 : Pie chart */
                Highcharts.chart('highchart2', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        spacing: [30, 20, 30, 20]
                    },
                    title: {
                        text: '2023/ 연령대별 방문비율'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    credits:{
                        enabled: true,
                        href: 'https://admin.deddang.net/',
                        text: 'https://admin.deddang.net/'
                    },
                    plotOptions: {
                        pie:{
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                        }
                    },
                    series: [{
                        name: '후원수',
                        colorByPoint: true,
                        data: []
                    }]
                });

                /* chart 3 : line-symbol chart */
                Highcharts.chart('highchart3', {
                    chart: {
                        type: 'spline'
                    },
                    credits: {
                        enabled: true,
                        href: 'https://admin.deddang.net/',
                        text: 'https://admin.deddang.net/'
                    },
                    title: {
                        text: '2023 월별'
                    },
                    subtitle: {
                        text: 'NFC 포인트 적립기준'
                    },
                    xAxis: {
                        categories: ['1월', '2월', '3월', '4월', '5월', '6월','7월', '8월', '9월', '10월', '11월', '12월']
                    },
                    yAxis: {
                        title: {
                            text: '후원수'
                        },
                        labels: {
                            formatter: function () {
                                return this.value + '회';
                            }
                        }
                    },
                    tooltip: {
                        crosshairs: true,
                        shared: true
                    },
                    plotOptions: {
                        spline: {
                            marker: {
                                radius: 4,
                                lineColor: '#666666',
                                lineWidth: 1
                            }
                        }
                    },
                    series: [{
                        name: '후원',
                        data: [1,1,1,1,1,1,1,1,2,1,1,1]

                    }]
                });
            </script>
        </div>
    </section>
</div>
</body>
</html>