<!DOCTYPE html>
<html>
<head>
    <title>이룸 웹빌더 - 관리자</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">

    <script type="text/javascript" language="javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/jquery-ui_admin.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/ui_admin.js"></script>

    <link type="text/css" rel="stylesheet" href="../static/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
<div class="wrap">
    <header class="header active">
        <h1 class="logo"><a href="adm_main.html"><img src="../static/images/adm_logo.jpg"></a></h1>

        <div class="user-menu">
            <button class="btn-big">이룸 주식회사</button>
            <button class="btn"><a href="index.html">웹사이트</a></button>
            <button class="btn"><a href="index.html">로그아웃</a></button>
        </div>

        <nav class="gnb-menu">
            <ul class="gnb">
                <li><a href="javascript:void(0);">사용자관리</a>
                    <ul>
                        <li><a href="adm_member_list.html">일반회원</a></li>i>
                    </ul>
                </li>
                <li><a href="adm_html_list.html">콘텐츠관리</a>
                    <ul>
                        <li><a href="adm_html_list.html">일반(HTML)</a></li>
                    </ul>
                </li>
                <li><a href="adm_service_info.html">서비스관리</a>
                    <ul>
                        <li><a href="adm_service_info.html">서비스정보</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <ul class="etc-menu">
            <li><a href="https://analytics.google.com/" target="_blank">구글 애널리틱스</a></li>
            <li><a href="#none">원격접속</a></li>
        </ul>
    </header>

    <section class="container">
        <div class="tit-wrap">
            <h2 class="tit-type"><b>폼태그</b> <span class="tag-txt">요소</span></h2>

            <div class="right">
                <ul class="path">
                    <li>홈</li>
                </ul>
            </div>
        </div>
        <div class="contents">
            <div class="board-view">
                <table>
                    <colgroup>
                        <col style="width:150px">
                        <col style="width:auto">
                        <col style="width:150px">
                        <col style="width:auto">
                    </colgroup>
                    <thead>
                        <tr class="bg-gray line">
                            <th>제목</th>
                            <td colspan="3"><input type="text"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>텍스트</th>
                            <td>
                                <input type="text" id="" name="" value="" maxlength="20">
                            </td>
                            <th>버튼 타입</th>
                            <td>
                                <input type="button" value="삭제" class="btn-type-2 btn-yellow">
                                <input type="button" value="수정" class="btn-type-2 btn-red">
                                <input type="button" value="수정" class="btn-type-2 btn-blue">
                                <input type="button" value="수정" class="btn-type-2 btn-lightgray">
                                <input type="button" value="수정" class="btn-type-2 btn-white">
                            </td>
                        </tr>
                        <tr>
                            <th>셀렉트</th>
                            <td>
                                <select name="grade">
                                    <option value="0">중지</option>
                                    <option value="1">대기</option>
                                    <option value="2">승인</option>
                                    <option value="3">거부</option>
                                </select>
                            </td>
                            <th>셀렉트 복수</th>
                            <td>
                                <div class="cellbox">
                                    <div class="cell" id="">
                                        <select>
                                            <option>대분류</option>
                                        </select>
                                    </div>
                                    <div class="cell" id="">
                                        <select id="" name="">
                                            <option value="">중분류</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>텍스트 & 셀렉트</th>
                            <td>
                                <input type="text" id="monthly_cost" name="monthly_cost" value="" style="width:49%;">

                                <select id="monthly_cost_social" name="monthly_cost_social" style="width:49%;">
                                    <option value="N" >비대상</option>
                                    <option value="Y" >대상</option>
                                </select>
                            </td>
                            <th>첨부파일</th>
                            <td>
                                <div class="input-file-add">
                                    <div class="inp">
                                        <input type="text">
                                    </div>

                                    <button type="button" class="btn">찾기</button>

                                    <input type="file">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>체크 박스</th>
                            <td>
                                <label class="input-checkbox type-2">
                                    <input type="checkbox" name="user_extra_info"><span class="ic"></span>
                                    <span class="t">성별</span>
                                </label>
                                <label class="input-checkbox type-2">
                                    <input type="checkbox" name="user_extra_info"><span class="ic"></span>
                                    <span class="t">생년월일</span>
                                </label>
                                <label class="input-checkbox type-2">
                                    <input type="checkbox" name="user_extra_info"><span class="ic"></span>
                                    <span class="t">주소</span>
                                </label>
                            </td>
                            <th>라디오 버튼</td>
                            <td>
                                <label class="input-radio">
                                    <input type="radio" checked="checked" name="master_email"><span class="ic"></span>
                                    <span class="t">남</span>
                                </label>
                                <label class="input-radio">
                                    <input type="radio" name="master_email"><span class="ic"></span>
                                    <span class="t">여</span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>