<!DOCTYPE html>
<html>
<head>
    <title>이룸 웹빌더 - 관리자</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">

    <script type="text/javascript" language="javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/jquery-ui_admin.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/ui_admin.js"></script>

    <link type="text/css" rel="stylesheet" href="../static/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
<div class="wrap">
    <header class="header active">
        <h1 class="logo"><a href="adm_main.html"><img src="../static/images/adm_logo.jpg"></a></h1>

        <div class="user-menu">
            <button class="btn-big">이룸 주식회사</button>
            <button class="btn"><a href="index.html">웹사이트</a></button>
            <button class="btn"><a href="index.html">로그아웃</a></button>
        </div>

        <nav class="gnb-menu">
            <ul class="gnb">
                <li><a href="adm_member_list.html">사용자관리</a>
                    <ul>
                        <li><a href="adm_member_list.html">일반회원</a></li>
                    </ul>
                </li>
                <li><a href="adm_html_list.html">콘텐츠관리</a>
                    <ul>
                        <li><a href="adm_html_list.html">일반(HTML)</a></li>
                    </ul>
                </li>
                <li class="on"><a href="adm_service_info.html">서비스관리</a>
                    <ul>
                        <li class="on"><a href="adm_service_info.html">서비스정보</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <ul class="etc-menu">
            <li><a href="https://analytics.google.com/" target="_blank">구글 애널리틱스</a></li>
            <li><a href="#none">원격접속</a></li>
        </ul>
    </header>

    <section class="container">
        <div class="tit-wrap">
            <h2 class="tit-type"><b>서비스 정보</b> <span class="tag-txt"></span></h2>

            <div class="right">
                <ul class="path">
                    <li>홈</li>
                    <li>서비스관리</li>
                    <li><b>서비스 정보</b></li>
                </ul>
            </div>
        </div>
        <div class="contents">
            <div class="tab-type-line js-tab-type-line">
                <a href="javascript:void(0);" class="on" data-tab-id="tab1-1">일반 정보</a>
                <a href="javascript:void(0);" data-tab-id="tab1-2">계약 정보</a>
            </div>
            <div class="tab-history-content" id="tab1-1">
                <form>
                    <div class="board-view">
                        <table>
                            <colgroup>
                                <col style="width:150px;">
                                <col style="width:auto;">
                                <col style="width:150px;">
                                <col style="width:auto;">
                            </colgroup>
                            <thead>
                                <tr class="bg-gray line">
                                    <th colspan="4">웹호스팅 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>하드 디스크 용량</th>
                                    <td>20GB</td>
                                    <th>DB 용량</th>
                                    <td>무제한</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="bg-gray line">
                                    <th colspan="4">메타 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>브라우저 제목</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                    <th>메타 Description</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <th>메타 Keywords</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                    <th>메타 Classification</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="bg-gray line">
                                    <th colspan="4">기본정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>고객사 명</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                    <th>관리 책임자</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                    <th>이메일</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <th>전화</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                    <th>팩스</th>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-box alignR">
                        <a href="#none" class="btn-type-1 btn-yellow">확인</a>
                    </div>
                </form>
            </div>
            <div class="tab-history-content" id="tab1-2" style="display:none">
                <form>
                    <div class="board-view">
                        <table>
                            <colgroup>
                                <col style="width:150px;">
                                <col style="width:auto;">
                                <col style="width:150px;">
                                <col style="width:auto;">
                            </colgroup>
                            <thead>
                                <tr class="bg-gray line">
                                    <th colspan="4">계약 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>서비스 유형</th>
                                    <td>응용소프트웨어 임대 서비스(Application Service Provider) &nbsp; | &nbsp; <a href="#" target="_blank">서비스 내용 보기</a></td>
                                    <th>웹호스팅비</th>
                                    <td>30,000원(부가세 별도)</td>
                                </tr>
                                <tr>
                                    <th>납부 유형</th>
                                    <td>CMS</td>
                                    <th>계약일자</th>
                                    <td>0000-00-00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-box alignR">
                        <a href="#none" class="btn-type-1 btn-yellow">확인(동의)</a><br><br>
                        <p style="font-size:14px;">0000년 00월 00일 확인(동의)</p>
                    </div>
                </form>
            </div>

            <div class="help-guide">
                <p class="title"><strong>도움말</strong>입니다</p>

                <ul>
                    <li>메타정보는 웹마스터 도구에 활용되어 포털 검색 시 노출되는 정보입니다.</li>
                    <li>기본정보는 입력된 정보는 웹사이트 하단과 개인정보취급방침 고지란에 기재됩니다.</li>
                </ul>
            </div>
        </div>
    </section>
</div>
</body>
</html>