<!DOCTYPE html>
<html>
<head>
    <title>이룸 웹빌더 - 관리자</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">

    <script type="text/javascript" language="javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/jquery-ui_admin.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/ui_admin.js"></script>

    <link type="text/css" rel="stylesheet" href="../static/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
<div class="wrap">
    <header class="header active">
        <h1 class="logo"><a href="adm_main.html"><img src="../static/images/adm_logo.jpg"></a></h1>

        <div class="user-menu">
            <button class="btn-big">이룸 주식회사</button>
            <button class="btn"><a href="index.html">웹사이트</a></button>
            <button class="btn"><a href="index.html">로그아웃</a></button>
        </div>

        <nav class="gnb-menu">
            <ul class="gnb">
                <li><a href="adm_member_list.html">사용자관리</a>
                    <ul>
                        <li><a href="adm_member_list.html">일반회원</a></li>
                    </ul>
                </li>
                <li class="on"><a href="adm_html_list.html">콘텐츠관리</a>
                    <ul>
                        <li class="on"><a href="adm_html_list.html">일반(HTML)</a></li>
                    </ul>
                </li>
                <li><a href="adm_service_info.html">서비스관리</a>
                    <ul>
                        <li><a href="adm_service_info.html">서비스정보</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <ul class="etc-menu">
            <li><a href="https://analytics.google.com/" target="_blank">구글 애널리틱스</a></li>
            <li><a href="#none">원격접속</a></li>
        </ul>
    </header>

    <section class="container">
        <div class="tit-wrap">
            <h2 class="tit-type"><b>일반(Html)</b> <span class="tag-txt">목록</span></h2>

            <div class="right">
                <ul class="path">
                    <li>홈</li>
                    <li>콘텐츠관리</li>
                    <li><b>일반(Html)</b></li>
                </ul>
            </div>
        </div>
        <div class="contents">
            <div class="css-group">
                <ul class="list">
                    <li><b style="color:#FF0000;"><a href="#none" style="color:#FF0000;">인사말</a></b></li>
                    <li><a href="javascript:void(0);">연혁</a></li>
                    <li><a href="javascript:void(0);">사업소개</a></li>
                    <li><a href="javascript:void(0);">오시는 길</a></li>
                </ul>
            </div>
            <div class="board-view">
                <table>
                    <thead>
                        <tr class="bg-gray line">
                            <td>인사말</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <textarea style="margin:20px 0;height:500px;"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-box alignR">
                <a href="#none" class="btn-type-1 btn-yellow">확인</a>
            </div>
            <div class="help-guide">
                <p class="title"><strong>도움말</strong>입니다</p>

                <ul>
                    <li>도움말 내용 1</li>
                    <li>도움말 내용 2</li>
                </ul>
            </div>
        </div>
    </section>
</div>
</body>
</html>